<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albert Einstein</title>
</head>
<body>
<h1>Альберт Эйнштейн</h1>
<img align="top" src="../static/Albert_Einstein.jpg" width="200" />
<div>
    <h4>    Привет, это страничка посвящена <ins>Альберту Эйнштейну</ins></h4>
<mark>Физик-теоретик,</mark>
<del>гонщик Формулы-1</del>,
<em>один из основателей</em> современной теоретической физики,
<em>лауреат</em>
<a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%BE%D0%B1%D0%B5%D0%BB%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%D0%BF%D1%80%D0%B5%D0%BC%D0%B8%D1%8F">Нобелевской премии</a>
по физике 1921 года,
<em>общественный деятель-гуманист.</em>
</div>
<span>

<em>
   <strong>Эйнштейн</strong>
    — автор более
    <ins>300 научных работ по физике</ins>,
    а также
    <ins>около 150 книг и статей в области
    истории и философии науки</ins>,
    публицистики и других.<br>

</em>
    <p><strong>Он разработал несколько монументальных физических теорий:</strong>

<ul>
    <li>Специальная теория относительности (1905).</li>
    <li>Общая теория относительности (1907—1916).</li>
    <li>Квантовая теория фотоэффекта.</li>
    <li>Квантовая теория теплоёмкости.</li>
    <li>Квантовая статистика Бозе — Эйнштейна.</li>
    <li>Статистическая теория броуновского движения, заложившая основы теории флуктуаций.</li>
    <li>Теория индуцированного излучения.</li>
    <li>Теория рассеяния света на термодинамических флуктуациях в среде.</li>
</ul>
</p>
</span>
</body>
</html>